<%- include('../includes/head.ejs') %>

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <h2 class="heading">Nothing Dar</h2>
    </main>

<%- include('../includes/end.ejs') %>